<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Bot HEALTH•E</title>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header class="siteheader">
        <nav>
            <ul class="navmenu">
                <li><a class="headeranchor" href="#home">Home</a></li>
                <li><a class="headeranchor" href="#about">About</a></li>
                <li><a class="headeranchor" href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>




    <main>
        {% block content %}
        {% endblock %}



    </main>
    <footer>
        (C) Steven Lomon Lennartsson
    </footer>
</body>

</html>