{% extends "baseTemplate.html" %}

{% block content %}

<style>
    .user-message {
        text-align: right;
    }
</style>

<section class="chat" id="chat">
    <div class="content">
        <h2>How can I help?</h2>
        <div id="response-container" style="color: black;"></div>
        <div id="user-input-container">
            <input type="text" id="user-input" placeholder="Type here...">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='js/chatbot.js') }}"></script>

{% endblock %}